.call-to-action {
  padding: 80px 20px;
  text-align: left; 
}

.call-to-action h2 {
  margin-bottom: 30px;
}

.cta-columns {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.cta-column {
  background-color: rgb(172, 162, 182);
  padding: 20px;
  border-radius: 8px;
}

.cta-column-1 {
  width: 80%;
}

.cta-column-2,
.cta-column-3 {
  width: 40%;
}

.cta-row {
  display: flex;
  gap: 20px;
}

.cta-column-4,
.cta-column-5 {
  width: 40%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px;
}

.box {
  background-color: #d3eafd;
  padding: 20px;
  text-align: center;
  border: 1px solid #aaa;
}


.box-80 {
  flex: 0 0 80%;
}

.box-10 {
  flex: 0 0 10%;
}

.box-40 {
  flex: 0 0 30%; 
}


@media (max-width: 768px) {
  .cta-columns,
  .cta-row {
    flex-direction: column; 
  }

  .cta-column-1,
  .cta-column-2,
  .cta-column-3,
  .cta-column-4,
  .cta-column-5 {
    width: 100%; 
    margin-bottom: 20px;
  }

  .row-top,
  .row-bottom {
    flex-direction: column; 
  }

  .box-80, .box-10 {
    flex: 0 0 100%; 
  }

  .box-40 {
    flex: 0 0 100%; 
  }
}
.cta-column {
  color: #fff;
  background-color: #4f46e5;
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease; 
}

.cta-column:hover {
  background-color: #f4d03f;
  color: #fff; 
}
