.features-section {
  padding: 80px 20px;
  background-color: #eceaf0;
}

.title{
  text-align: center;
}

.subtitle{
  text-align: center;
  padding-bottom: 40px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.feature-item {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.feature-item:hover {
  transform: translateY(-5px);
}

.feature-icon {
  width: 60px;
  height: 60px;
  background-color: #4f46e5;
  color: white;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.feature-item h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.feature-item p {
  font-size: 0.95rem;
  margin-bottom: 10px;
  color: #555;
}

.feature-item a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .features-grid {
    grid-template-columns: 1fr;
  }

  .feature-item {
    text-align: center;
  }
}
