.container {
    max-width: 1125px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
  }
  .section-padding{
    padding: 80px 20px;
    background-color: #eceaf0;
  }